/*Imported google font*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Madimi+One&display=swap');

/* added asterisk wildcard selector to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #0e0f0c;
    /*Font*/
    font-family: 'Madimi One', sans-serif;
}

h1 {
    font-family: 'Madimi One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00fc6d;
}

h2 {
    font-family: 'Madimi One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fcfcfc;
}

h3 {
    font-family: 'Madimi One', sans-serif;
    letter-spacing: 1px;
    color: #fcfcfc;
}

/*Header Content*/

header {
    background-color: #230909;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 200%;
    letter-spacing: 1px;
    list-style-type: none;
    color: aliceblue;
}

#menu>li {
    margin-bottom: .1em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #230909;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

.nav-toggle-label {
    font-size: 2rem;
    color: aliceblue;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 42px;

}

#cover-image {
    height: 600px;
    width: 100%;
    background: url("../images/chess-cover.webp") no-repeat center center/cover;
}

#cover-text {}
/*Media Queries*/

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .active {
        background-color: #6bc1b4;
        border-style: inset;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

/* Main content */
main {
    /* Push main content down to accommodate larger header */
    margin-top: 48px;
}

}

/* Media query: desktop and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
       border-style: inset;
        background-color: #6bc1b4;
        color: aliceblue;
        box-shadow: #7b7b7b 0px 2px 0px 0px; 
    }

}

/*Footer Content*/
#footer {
background-color: #7b7b7b;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
