/*Imported google font*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Madimi+One&display=swap')
</style>
 
 /* added asterisk wildcard selector to override default browser styles*/
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General Styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #0e0f0c;
     /*Font*/
     font-family: 'alumni sans inline one', sans-serif;

 }

 h1, h2, h3 {
    font-family: 'Madimi One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

 /*Header Content*/
 header {
     background-color: aqua;
 }

 /* Main content */
 main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
}

 /*Footer Content*/
 footer {
     background-color: rgb(152, 147, 147);
 }